In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns

In [3]:
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
import multiprocessing

In [4]:
labels = pd.read_csv('../csv/train_labels.csv')
labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [5]:
values = pd.read_csv('../csv/train_values.csv')
values.head(10).T

,0,1,2,3,4,5,6,7,8,9
building_id,802906,28830,94947,590882,201944,333020,728451,475515,441126,989500
geo_level_1_id,6,8,21,22,11,8,9,20,0,26
geo_level_2_id,487,900,363,418,131,558,475,323,757,886
geo_level_3_id,12198,2812,8973,10694,1488,6089,12066,12236,7219,994
count_floors_pre_eq,2,2,2,2,3,2,2,2,2,1
age,30,10,10,10,30,10,25,0,15,0
area_percentage,6,8,5,6,8,9,3,8,8,13
height_percentage,5,7,5,5,9,5,4,6,6,4
land_surface_condition,t,o,t,t,t,t,n,t,t,t
foundation_type,r,r,r,r,r,r,r,w,r,i
roof_type,n,n,n,n,n,n,n,q,q,n
ground_floor_type,f,x,f,f,f,f,x,v,f,v
other_floor_type,q,q,x,x,x,q,q,x,q,j
position,t,s,t,s,s,s,s,s,s,s
plan_configuration,d,d,d,d,d,d,d,u,d,d
has_superstructure_adobe_mud,1,0,0,0,1,0,0,0,0,0
has_superstructure_mud_mortar_stone,1,1,1,1,0,1,1,0,1,0
has_superstructure_stone_flag,0,0,0,0,0,0,0,0,0,0
has_superstructure_cement_mortar_stone,0,0,0,0,0,0,0,0,0,0
has_superstructure_mud_mortar_brick,0,0,0,0,0,0,0,0,0,0
has_superstructure_cement_mortar_brick,0,0,0,0,0,0,0,1,0,1
has_superstructure_timber,0,0,0,1,0,0,0,1,1,0
has_superstructure_bamboo,0,0,0,1,0,0,0,0,0,0
has_superstructure_rc_non_engineered,0,0,0,0,0,0,0,0,0,0
has_superstructure_rc_engineered,0,0,0,0,0,0,0,0,0,0
has_superstructure_other,0,0,0,0,0,0,0,0,0,0
legal_ownership_status,v,v,v,v,v,v,v,v,v,v
count_families,1,1,1,1,1,1,1,1,1,1
has_secondary_use,0,0,0,0,0,1,0,0,0,0
has_secondary_use_agriculture,0,0,0,0,0,1,0,0,0,0
has_secondary_use_hotel,0,0,0,0,0,0,0,0,0,0
has_secondary_use_rental,0,0,0,0,0,0,0,0,0,0
has_secondary_use_institution,0,0,0,0,0,0,0,0,0,0
has_secondary_use_school,0,0,0,0,0,0,0,0,0,0
has_secondary_use_industry,0,0,0,0,0,0,0,0,0,0
has_secondary_use_health_post,0,0,0,0,0,0,0,0,0,0
has_secondary_use_gov_office,0,0,0,0,0,0,0,0,0,0
has_secondary_use_use_police,0,0,0,0,0,0,0,0,0,0
has_secondary_use_other,0,0,0,0,0,0,0,0,0,0

In [6]:
to_be_categorized = ["land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for row in to_be_categorized:
    values[row] = values[row].astype("category")
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: category(8), int64(31)
memory usage: 63.6 MB

In [7]:
datatypes = dict(values.dtypes)
for row in values.columns:
    if datatypes[row] != "int64" and datatypes[row] != "int32" and \
       datatypes[row] != "int16" and datatypes[row] != "int8":
        continue
    if values[row].nlargest(1).item() > 32767 and values[row].nlargest(1).item() < 2**31:
        values[row] = values[row].astype(np.int32)
    elif values[row].nlargest(1).item() > 127:
        values[row] = values[row].astype(np.int16)
    else:
        values[row] = values[row].astype(np.int8)
values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int32
 1   geo_level_1_id                          260601 non-null  int8
 2   geo_level_2_id                          260601 non-null  int16
 3   geo_level_3_id                          260601 non-null  int16
 4   count_floors_pre_eq                     260601 non-null  int8
 5   age                                     260601 non-null  int16
 6   area_percentage                         260601 non-null  int8
 7   height_percentage                       260601 non-null  int8
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int8
 16  has_superstructure_mud_mortar_stone     260601 non-null  int8
 17  has_superstructure_stone_flag           260601 non-null  int8
 18  has_superstructure_cement_mortar_stone  260601 non-null  int8
 19  has_superstructure_mud_mortar_brick     260601 non-null  int8
 20  has_superstructure_cement_mortar_brick  260601 non-null  int8
 21  has_superstructure_timber               260601 non-null  int8
 22  has_superstructure_bamboo               260601 non-null  int8
 23  has_superstructure_rc_non_engineered    260601 non-null  int8
 24  has_superstructure_rc_engineered        260601 non-null  int8
 25  has_superstructure_other                260601 non-null  int8
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int8
 28  has_secondary_use                       260601 non-null  int8
 29  has_secondary_use_agriculture           260601 non-null  int8
 30  has_secondary_use_hotel                 260601 non-null  int8
 31  has_secondary_use_rental                260601 non-null  int8
 32  has_secondary_use_institution           260601 non-null  int8
 33  has_secondary_use_school                260601 non-null  int8
 34  has_secondary_use_industry              260601 non-null  int8
 35  has_secondary_use_health_post           260601 non-null  int8
 36  has_secondary_use_gov_office            260601 non-null  int8
 37  has_secondary_use_use_police            260601 non-null  int8
 38  has_secondary_use_other                 260601 non-null  int8
dtypes: category(8), int16(3), int32(1), int8(27)
memory usage: 11.2 MB

In [8]:
labels["building_id"] = labels["building_id"].astype(np.int32)
labels["damage_grade"] = labels["damage_grade"].astype(np.int8)
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int32
 1   damage_grade  260601 non-null  int8
dtypes: int32(1), int8(1)
memory usage: 1.2 MB

In [9]:
importantes = values\
                .merge(labels, on="building_id")
importantes.drop(columns=["building_id"], inplace = True)
importantes["geo_level_1_id"] = importantes["geo_level_1_id"].astype("category")

In [10]:
X_train, X_test, y_train, y_test = train_test_split(importantes.drop(columns = 'damage_grade'),
                                                    importantes['damage_grade'],\
                                                    test_size = 0.2, random_state = 123)

In [11]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res)

In [12]:
features = ["geo_level_1_id", "land_surface_condition",\
                      "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]

In [13]:
for feature in features:
    X_train = encode_and_bind(X_train, feature)

In [14]:
modelito = RandomForestClassifier(n_estimators = 270, max_depth = 25, criterion = "gini", verbose=True, n_jobs=-1)
modelito.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    9.4s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   43.3s
[Parallel(n_jobs=-1)]: Done 270 out of 270 | elapsed:   59.7s finished

RandomForestClassifier(max_depth=25, n_estimators=270, n_jobs=-1, verbose=True)

In [15]:
modelito.score(X_train, y_train)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    1.3s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    5.7s
[Parallel(n_jobs=4)]: Done 270 out of 270 | elapsed:    8.0s finished

0.8170184190330008

In [16]:
modelito.feature_importances_

array([7.82854500e-02, 8.03168593e-02, 1.86600493e-02, 6.77002129e-02,
       6.93451238e-02, 4.15999865e-02, 6.43265895e-03, 2.26278562e-02,
       5.93449843e-03, 3.97626056e-03, 6.66715045e-03, 1.41121032e-02,
       1.25327296e-02, 7.07811716e-03, 5.89349996e-03, 4.83722743e-03,
       3.66995067e-03, 1.89034526e-02, 8.39109200e-03, 5.20249747e-03,
       4.49225583e-03, 1.79354149e-03, 3.39809451e-04, 1.55589890e-04,
       4.32824981e-04, 7.41148853e-05, 4.68927285e-05, 2.69048953e-05,
       1.19002840e-03, 3.20312169e-03, 2.33870624e-03, 3.38425286e-04,
       2.35222105e-03, 1.09855032e-02, 2.91538834e-03, 8.99064769e-03,
       5.47737117e-03, 1.72298143e-02, 2.16826558e-03, 7.32089212e-03,
       3.15302559e-03, 9.30980861e-04, 9.43907349e-03, 8.34807336e-04,
       5.51809055e-04, 2.13636964e-03, 1.19720220e-01, 1.28252160e-02,
       1.11892104e-04, 9.41695701e-03, 2.04546723e-02, 5.31543394e-03,
       2.52355038e-04, 1.05151029e-03, 5.02846791e-03, 2.15288860e-02,
       1.09301502e-02, 1.60012326e-04, 1.45474857e-04, 2.52015403e-03,
       7.53754456e-03, 3.79541179e-03, 8.35654919e-03, 1.73476647e-03,
       1.19944692e-02, 2.37617490e-02, 4.93135902e-03, 8.00667672e-03,
       9.78749907e-03, 8.67963915e-03, 1.22618755e-02, 4.93904446e-03,
       1.19761571e-03, 9.40465514e-03, 8.65383535e-03, 1.06734950e-02,
       5.58281514e-04, 2.10525521e-02, 5.97858497e-03, 8.98267178e-04,
       6.10934347e-03, 1.15337679e-02, 6.14473135e-03, 6.96100265e-03,
       3.63060436e-04, 3.74551437e-04, 5.17608919e-03, 2.13031787e-05,
       7.05585343e-05, 9.49790916e-05, 2.49847133e-04, 3.79038778e-03,
       4.90439561e-04, 2.92325174e-03, 3.11761230e-03, 1.42181669e-03,
       4.61808067e-03, 1.78874228e-03])

In [17]:
importantes = values\
                .merge(labels, on="building_id")
importantes.drop(columns=["building_id"], inplace = True)
importantes["geo_level_1_id"] = importantes["geo_level_1_id"].astype("category")
importantes

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,n,r,n,...,0,0,0,0,0,0,0,0,0,2
260597,17,715,2060,2,0,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
260598,17,51,8163,3,55,6,7,t,r,q,...,0,0,0,0,0,0,0,0,0,3
260599,26,39,1851,2,10,14,6,t,r,x,...,0,0,0,0,0,0,0,0,0,2
260600,21,9,9101,3,10,7,6,n,r,n,...,0,0,0,0,0,0,0,0,0,3

In [18]:
X_train, X_test, y_train, y_test = train_test_split(importantes.drop(columns = 'damage_grade'),
                                                    importantes['damage_grade'],\
                                                    test_size = 0.2, random_state = 123)

In [19]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res)

In [20]:
features = ["geo_level_1_id", "land_surface_condition",\
                      "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]

In [21]:
for feature in features:
    X_train = encode_and_bind(X_train, feature)
    X_test = encode_and_bind(X_test, feature)

In [22]:
modelito = RandomForestClassifier(n_estimators = 270, max_depth = 25, max_features = 45, criterion = "gini", verbose=True, n_jobs=-1)
modelito.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   30.8s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 270 out of 270 | elapsed:  3.1min finished

RandomForestClassifier(max_depth=25, max_features=45, n_estimators=270,
                       n_jobs=-1, verbose=True)

In [23]:
modelito.score(X_train, y_train)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    1.6s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    6.7s
[Parallel(n_jobs=4)]: Done 270 out of 270 | elapsed:    9.3s finished

0.8879556792018419

In [24]:
y_preds = modelito.predict(X_test)
f1_score(y_test, y_preds, average='micro')

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.4s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    1.7s
[Parallel(n_jobs=4)]: Done 270 out of 270 | elapsed:    2.4s finished

0.7323727480286257

In [25]:
modelito.feature_importances_

array([1.16499353e-01, 1.13556459e-01, 1.69074697e-02, 8.38433669e-02,
       8.53906263e-02, 4.75613910e-02, 5.45145021e-03, 1.65444762e-02,
       5.32912413e-03, 2.78424762e-03, 5.50610293e-03, 7.95090417e-03,
       1.20597617e-02, 5.47937459e-03, 3.71932697e-03, 1.75037715e-03,
       3.14665956e-03, 2.14986269e-02, 7.90213916e-03, 4.90870144e-03,
       3.54308339e-03, 1.35927039e-03, 2.57407423e-04, 1.03177374e-04,
       3.80567136e-04, 5.19305312e-05, 2.83351718e-05, 2.38600670e-05,
       1.08257503e-03, 3.53618560e-04, 5.23007366e-04, 3.64616954e-04,
       3.64340651e-03, 2.60942592e-03, 7.03948826e-04, 5.56024750e-03,
       7.13812743e-03, 1.96501646e-02, 1.35551841e-03, 1.04089734e-02,
       5.25848410e-03, 3.17129789e-04, 3.47519627e-03, 1.75870542e-04,
       2.22095887e-04, 4.58008265e-04, 9.67480307e-02, 1.30745696e-02,
       4.45370921e-05, 2.07095644e-03, 2.15983511e-02, 8.34089014e-04,
       2.48447942e-04, 4.37687754e-04, 8.02884421e-04, 1.38316732e-02,
       1.26814278e-02, 2.89993414e-04, 3.25034325e-05, 3.30702998e-04,
       7.43867358e-03, 3.72886498e-03, 8.29374140e-03, 1.40818944e-03,
       7.91973765e-03, 3.53715078e-02, 2.39789346e-03, 2.65033001e-03,
       8.23806558e-03, 7.92249957e-03, 8.70982135e-03, 5.06874815e-03,
       9.74919984e-04, 1.12619600e-02, 1.01615976e-02, 6.66159591e-03,
       4.25357966e-04, 1.95876437e-02, 5.54772902e-03, 6.75427073e-04,
       4.50287109e-03, 1.16858203e-02, 1.92808138e-03, 6.99167873e-03,
       2.71778192e-04, 2.90219474e-04, 4.43230397e-03, 1.63955116e-05,
       6.94533065e-05, 6.07045583e-05, 1.57054884e-04, 3.35445757e-03,
       3.88569087e-04, 2.36159296e-03, 2.41385787e-03, 1.12492921e-03,
       3.85212628e-03, 1.78996119e-03])

In [26]:
test_values = pd.read_csv('../csv/test_values.csv', index_col = "building_id")
test_values

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
300051,17,596,11307,3,20,7,6,t,r,n,...,0,0,0,0,0,0,0,0,0,0
99355,6,141,11987,2,25,13,5,t,r,n,...,1,0,0,0,0,0,0,0,0,0
890251,22,19,10044,2,5,4,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
745817,26,39,633,1,0,19,3,t,r,x,...,0,0,1,0,0,0,0,0,0,0
421793,17,289,7970,3,15,8,7,t,r,q,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,4,605,3623,3,70,20,6,t,r,q,...,1,0,0,0,0,0,0,0,0,0
663567,10,1407,11907,3,25,6,7,n,r,n,...,0,0,0,0,0,0,0,0,0,0
1049160,22,1136,7712,1,50,3,3,t,r,n,...,0,0,0,0,0,0,0,0,0,0
442785,6,1041,912,2,5,9,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
501372,26,36,6436,2,10,11,4,t,r,q,...,0,0,0,0,0,0,0,0,0,0

In [27]:
subset_de_testvalues = test_values
subset_de_testvalues["geo_level_1_id"] = subset_de_testvalues["geo_level_1_id"].astype("category")
subset_de_testvalues

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
building_id,,,,,,,,,,,,,,,,,,,,,
300051,17,596,11307,3,20,7,6,t,r,n,...,0,0,0,0,0,0,0,0,0,0
99355,6,141,11987,2,25,13,5,t,r,n,...,1,0,0,0,0,0,0,0,0,0
890251,22,19,10044,2,5,4,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
745817,26,39,633,1,0,19,3,t,r,x,...,0,0,1,0,0,0,0,0,0,0
421793,17,289,7970,3,15,8,7,t,r,q,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310028,4,605,3623,3,70,20,6,t,r,q,...,1,0,0,0,0,0,0,0,0,0
663567,10,1407,11907,3,25,6,7,n,r,n,...,0,0,0,0,0,0,0,0,0,0
1049160,22,1136,7712,1,50,3,3,t,r,n,...,0,0,0,0,0,0,0,0,0,0
442785,6,1041,912,2,5,9,5,t,r,n,...,0,0,0,0,0,0,0,0,0,0
501372,26,36,6436,2,10,11,4,t,r,q,...,0,0,0,0,0,0,0,0,0,0

In [28]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res)

In [29]:
features = ["geo_level_1_id", "land_surface_condition",\
            "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]

In [30]:
for feature in features:
    subset_de_testvalues = encode_and_bind(subset_de_testvalues, feature)
    subset_de_testvalues

In [31]:
preds = modelito.predict(subset_de_testvalues)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.6s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    2.7s
[Parallel(n_jobs=4)]: Done 270 out of 270 | elapsed:    3.8s finished

In [32]:
submission_format = pd.read_csv('../csv/submission_format.csv', index_col = "building_id")

In [33]:
my_submission = pd.DataFrame(data=preds,
                             columns=submission_format.columns,
                             index=submission_format.index)

In [34]:
my_submission.head()

             damage_grade
building_id
300051                  3
99355                   2
890251                  2
745817                  1
421793                  3

In [35]:
my_submission.to_csv('../csv/predictions/laucha1.csv')