# Intento Cataclismico de Redes Neuronales
<div align="right"><h2>xd</h2></div>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('fivethirtyeight')

In [ ]:
from sklearn.datasets import make_blobs
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
import multiprocessing
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import f1_score

In [ ]:
labels = pd.read_csv('train_labels.csv')
labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [ ]:
values = pd.read_csv('train_values.csv')
values.head(10).T

                                             0      1  ...       8       9
building_id                             802906  28830  ...  441126  989500
geo_level_1_id                               6      8  ...       0      26
geo_level_2_id                             487    900  ...     757     886
geo_level_3_id                           12198   2812  ...    7219     994
count_floors_pre_eq                          2      2  ...       2       1
age                                         30     10  ...      15       0
area_percentage                              6      8  ...       8      13
height_percentage                            5      7  ...       6       4
land_surface_condition                       t      o  ...       t       t
foundation_type                              r      r  ...       r       i
roof_type                                    n      n  ...       q       n
ground_floor_type                            f      x  ...       f       v
other_floor_type                             q      q  ...       q       j
position                                     t      s  ...       s       s
plan_configuration                           d      d  ...       d       d
has_superstructure_adobe_mud                 1      0  ...       0       0
has_superstructure_mud_mortar_stone          1      1  ...       1       0
has_superstructure_stone_flag                0      0  ...       0       0
has_superstructure_cement_mortar_stone       0      0  ...       0       0
has_superstructure_mud_mortar_brick          0      0  ...       0       0
has_superstructure_cement_mortar_brick       0      0  ...       0       1
has_superstructure_timber                    0      0  ...       1       0
has_superstructure_bamboo                    0      0  ...       0       0
has_superstructure_rc_non_engineered         0      0  ...       0       0
has_superstructure_rc_engineered             0      0  ...       0       0
has_superstructure_other                     0      0  ...       0       0
legal_ownership_status                       v      v  ...       v       v
count_families                               1      1  ...       1       1
has_secondary_use                            0      0  ...       0       0
has_secondary_use_agriculture                0      0  ...       0       0
has_secondary_use_hotel                      0      0  ...       0       0
has_secondary_use_rental                     0      0  ...       0       0
has_secondary_use_institution                0      0  ...       0       0
has_secondary_use_school                     0      0  ...       0       0
has_secondary_use_industry                   0      0  ...       0       0
has_secondary_use_health_post                0      0  ...       0       0
has_secondary_use_gov_office                 0      0  ...       0       0
has_secondary_use_use_police                 0      0  ...       0       0
has_secondary_use_other                      0      0  ...       0       0

[39 rows x 10 columns]

In [ ]:
values.isnull().values.any()

False

In [ ]:
labels.isnull().values.any()

False

In [ ]:
important_values = values.merge(labels, on="building_id")
important_values.drop(columns=["building_id"], inplace = True)
important_values

        geo_level_1_id  geo_level_2_id  ...  has_secondary_use_other  damage_grade
0                    6             487  ...                        0             3
1                    8             900  ...                        0             2
2                   21             363  ...                        0             3
3                   22             418  ...                        0             2
4                   11             131  ...                        0             3
...                ...             ...  ...                      ...           ...
260596              25            1335  ...                        0             2
260597              17             715  ...                        0             3
260598              17              51  ...                        0             3
260599              26              39  ...                        0             2
260600              21               9  ...                        0             3

[260601 rows x 39 columns]

In [ ]:
important_values["volume_percentage"] = important_values["area_percentage"] * important_values["height_percentage"]

In [ ]:
superstructure_cols = [i for i in important_values.filter(regex='^has_superstructure*').columns]
important_values["any_superstructure"] = important_values[superstructure_cols[0]]
for c in superstructure_cols[1:]:
  important_values["any_superstructure"] += important_values[c]
important_values

        geo_level_1_id  geo_level_2_id  ...  volume_percentage  any_superstructure
0                    6             487  ...                 30                   2
1                    8             900  ...                 56                   1
2                   21             363  ...                 25                   1
3                   22             418  ...                 30                   3
4                   11             131  ...                 72                   1
...                ...             ...  ...                ...                 ...
260596              25            1335  ...                 18                   1
260597              17             715  ...                 30                   1
260598              17              51  ...                 42                   1
260599              26              39  ...                 84                   1
260600              21               9  ...                 42                   1

[260601 rows x 41 columns]

In [ ]:
important_values["age"] = important_values["age"] ** 2
important_values["area_percentage"] = important_values["area_percentage"] ** 2
important_values["height_percentage"] = important_values["height_percentage"] ** 2

# Entrenamiento

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(important_values.drop(columns = 'damage_grade'),
                                                     important_values['damage_grade'], 
                                                     test_size = 0.2,
                                                     random_state = 123)

In [ ]:
#OneHotEncoding
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return(res) 

features_to_encode = ["geo_level_1_id", "land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status"]
for feature in features_to_encode:
    X_train = encode_and_bind(X_train, feature)
    X_test = encode_and_bind(X_test, feature)

In [ ]:
X_train.head()

        geo_level_2_id  ...  legal_ownership_status_w
103291            1274  ...                         0
233923            1207  ...                         0
166653             944  ...                         0
150634             488  ...                         0
82720              302  ...                         0

[5 rows x 69 columns]

In [ ]:
# Nmero de neuronas
# ==============================================================================
param_grid = {'hidden_layer_sizes':[16, 40, 80, 120, 200]}

grid = GridSearchCV(
        estimator = MLPClassifier(
                        learning_rate_init=0.001,
                        solver = 'lbfgs',
                        alpha  = 0,
                        max_iter = 50000,
                        random_state = 123
                    ),
        param_grid = param_grid,
        scoring    = 'accuracy',
        cv         = 5,
        refit      = True,
        return_train_score = True,
        verbose = 1,
        n_jobs = -1
      )

modelo1 = grid.fit(X_train, y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed: 13.4min finished

In [ ]:
modelo1

GridSearchCV(cv=5, error_score=nan,
             estimator=MLPClassifier(activation='relu', alpha=0,
                                     batch_size='auto', beta_1=0.9,
                                     beta_2=0.999, early_stopping=False,
                                     epsilon=1e-08, hidden_layer_sizes=(100,),
                                     learning_rate='constant',
                                     learning_rate_init=0.001, max_fun=15000,
                                     max_iter=50000, momentum=0.9,
                                     n_iter_no_change=10,
                                     nesterovs_momentum=True, power_t=0.5,
                                     random_state=123, shuffle=True,
                                     solver='lbfgs', tol=0.0001,
                                     validation_fraction=0.1, verbose=False,
                                     warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'hidden_layer_sizes': [16, 40, 80, 120, 200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='accuracy', verbose=1)

In [ ]:
y_preds = modelo1.predict(X_test)
f1_score(y_test, y_preds, average='micro')

0.5523877132058096

In [ ]:
param_grid = {'learning_rate_init':[0.0001, 0.001, 0.01, 0.1, 1]}

grid = GridSearchCV(
        estimator = MLPClassifier(
                        hidden_layer_sizes=(20),
                        solver = 'adam',
                        alpha  = 0,
                        max_iter = 5000,
                        random_state = 123
                    ),
        param_grid = param_grid,
        scoring    = 'accuracy',
        cv         = 5,
        refit      = True,
        return_train_score = True,
        verbose = 1,
        n_jobs = 8
      )

modelo2 = grid.fit(X_train, y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.

In [ ]:
y_preds = modelo2.predict(X_test)
f1_score(y_test, y_preds, average='micro')