In [ ]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
import statsmodels.api as sm

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt

# Preprocesado y modelado
# ==============================================================================
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ParameterGrid
from sklearn.inspection import permutation_importance
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from sklearn.pipeline import Pipeline
from sklearn.datasets import make_blobs
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import KFold
import multiprocessing
from keras.models import Sequential
from keras.layers.core import Dense
import sklearn as sk
from sklearn.model_selection import StratifiedKFold
import sklearn.neural_network
import datetime

# PREPARO CSV

In [ ]:
labels=pd.read_csv("train_labels.csv")
labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [ ]:
values=pd.read_csv("train_values.csv")
values.head()

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0
3       590882  ...                        0
4       201944  ...                        0

[5 rows x 39 columns]

In [ ]:
values.isnull().values.any()

False

In [ ]:
values = values.dropna()

In [ ]:
labels.isnull().values.any()

False

In [ ]:
values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 79.5+ MB

In [ ]:
to_be_categorized = ["land_surface_condition", "foundation_type", "roof_type",\
                     "position", "ground_floor_type", "other_floor_type",\
                     "plan_configuration", "legal_ownership_status", "geo_level_1_id"]
for row in to_be_categorized:
    values[row] = values[row].astype("category")
values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  category
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: category(9), int64(30)
memory usage: 63.9 MB

In [ ]:
datatypes = dict(values.dtypes)
for row in values.columns:
    if datatypes[row] != "int64" and datatypes[row] != "int32" and \
       datatypes[row] != "int16" and datatypes[row] != "int8":
        continue
    if values[row].nlargest(1).item() > 32767 and values[row].nlargest(1).item() < 2**31:
        values[row] = values[row].astype(np.int32)
    elif values[row].nlargest(1).item() > 127:
        values[row] = values[row].astype(np.int16)
    else:
        values[row] = values[row].astype(np.int8)
values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int32
 1   geo_level_1_id                          260601 non-null  category
 2   geo_level_2_id                          260601 non-null  int16
 3   geo_level_3_id                          260601 non-null  int16
 4   count_floors_pre_eq                     260601 non-null  int8
 5   age                                     260601 non-null  int16
 6   area_percentage                         260601 non-null  int8
 7   height_percentage                       260601 non-null  int8
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int8
 16  has_superstructure_mud_mortar_stone     260601 non-null  int8
 17  has_superstructure_stone_flag           260601 non-null  int8
 18  has_superstructure_cement_mortar_stone  260601 non-null  int8
 19  has_superstructure_mud_mortar_brick     260601 non-null  int8
 20  has_superstructure_cement_mortar_brick  260601 non-null  int8
 21  has_superstructure_timber               260601 non-null  int8
 22  has_superstructure_bamboo               260601 non-null  int8
 23  has_superstructure_rc_non_engineered    260601 non-null  int8
 24  has_superstructure_rc_engineered        260601 non-null  int8
 25  has_superstructure_other                260601 non-null  int8
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int8
 28  has_secondary_use                       260601 non-null  int8
 29  has_secondary_use_agriculture           260601 non-null  int8
 30  has_secondary_use_hotel                 260601 non-null  int8
 31  has_secondary_use_rental                260601 non-null  int8
 32  has_secondary_use_institution           260601 non-null  int8
 33  has_secondary_use_school                260601 non-null  int8
 34  has_secondary_use_industry              260601 non-null  int8
 35  has_secondary_use_health_post           260601 non-null  int8
 36  has_secondary_use_gov_office            260601 non-null  int8
 37  has_secondary_use_use_police            260601 non-null  int8
 38  has_secondary_use_other                 260601 non-null  int8
dtypes: category(9), int16(3), int32(1), int8(26)
memory usage: 13.2 MB

In [ ]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int64
 1   damage_grade  260601 non-null  int64
dtypes: int64(2)
memory usage: 4.0 MB

In [ ]:
labels["building_id"] = labels["building_id"].astype(np.int32)
labels["damage_grade"] = labels["damage_grade"].astype(np.int8)
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int32
 1   damage_grade  260601 non-null  int8
dtypes: int32(1), int8(1)
memory usage: 1.2 MB

In [ ]:
important_values = values\
                .merge(labels, on="building_id")
important_values.drop(columns=["building_id"], inplace = True)

In [ ]:
important_values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   geo_level_1_id                          260601 non-null  category
 1   geo_level_2_id                          260601 non-null  int16
 2   geo_level_3_id                          260601 non-null  int16
 3   count_floors_pre_eq                     260601 non-null  int8
 4   age                                     260601 non-null  int16
 5   area_percentage                         260601 non-null  int8
 6   height_percentage                       260601 non-null  int8
 7   land_surface_condition                  260601 non-null  category
 8   foundation_type                         260601 non-null  category
 9   roof_type                               260601 non-null  category
 10  ground_floor_type                       260601 non-null  category
 11  other_floor_type                        260601 non-null  category
 12  position                                260601 non-null  category
 13  plan_configuration                      260601 non-null  category
 14  has_superstructure_adobe_mud            260601 non-null  int8
 15  has_superstructure_mud_mortar_stone     260601 non-null  int8
 16  has_superstructure_stone_flag           260601 non-null  int8
 17  has_superstructure_cement_mortar_stone  260601 non-null  int8
 18  has_superstructure_mud_mortar_brick     260601 non-null  int8
 19  has_superstructure_cement_mortar_brick  260601 non-null  int8
 20  has_superstructure_timber               260601 non-null  int8
 21  has_superstructure_bamboo               260601 non-null  int8
 22  has_superstructure_rc_non_engineered    260601 non-null  int8
 23  has_superstructure_rc_engineered        260601 non-null  int8
 24  has_superstructure_other                260601 non-null  int8
 25  legal_ownership_status                  260601 non-null  category
 26  count_families                          260601 non-null  int8
 27  has_secondary_use                       260601 non-null  int8
 28  has_secondary_use_agriculture           260601 non-null  int8
 29  has_secondary_use_hotel                 260601 non-null  int8
 30  has_secondary_use_rental                260601 non-null  int8
 31  has_secondary_use_institution           260601 non-null  int8
 32  has_secondary_use_school                260601 non-null  int8
 33  has_secondary_use_industry              260601 non-null  int8
 34  has_secondary_use_health_post           260601 non-null  int8
 35  has_secondary_use_gov_office            260601 non-null  int8
 36  has_secondary_use_use_police            260601 non-null  int8
 37  has_secondary_use_other                 260601 non-null  int8
 38  damage_grade                            260601 non-null  int8
dtypes: category(9), int16(3), int8(27)
memory usage: 12.4 MB

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(important_values.drop(columns = 'damage_grade'),
                                        important_values['damage_grade'], test_size = 0.2, random_state = 123)


cat_cols = X_train.select_dtypes(include=['category', "bool"]).columns.to_list()
numeric_cols = X_train.select_dtypes(include=['int16', 'int8', "float64"]).columns.to_list()

preprocessor = ColumnTransformer([('onehot', OneHotEncoder(handle_unknown='ignore'), cat_cols)],
                                  remainder='passthrough')

X_train = preprocessor.fit_transform(X_train)
X_test  = preprocessor.transform(X_test)

nn = [2, 10, 20, 10]  # número de neuronas por capa.
nr = [3, 5, 20, 15, 10]
nd = [10, 4, 16, 20, 6]

modelo_1 = MLPClassifier()

params = {
        'activation': ['logistic'],
        'alpha': [0.0001],
        'learning_rate': ['adaptive'],
        'hidden_layer_sizes': [tuple(nn[1:]), tuple(nr[1:]), tuple(nd[1:])],
        'learning_rate_init' : [0.001],
        'n_iter_no_change' : [100],
        'batch_size' : [400, 300, 350]
        }

folds = 3
param_comb = 5

skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)
random_search = RandomizedSearchCV(modelo_1, param_distributions=params, n_iter=param_comb, n_jobs=-1, cv=skf.split(X_train,y_train), verbose=3, random_state=1001)

random_search.fit(X_train, y_train)

Fitting 3 folds for each of 5 candidates, totalling 15 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  15 out of  15 | elapsed: 26.5min finished
/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

RandomizedSearchCV(cv=<generator object _BaseKFold.split at 0x7f7c4087e2d0>,
                   error_score=nan,
                   estimator=MLPClassifier(activation='relu', alpha=0.0001,
                                           batch_size='auto', beta_1=0.9,
                                           beta_2=0.999, early_stopping=False,
                                           epsilon=1e-08,
                                           hidden_layer_sizes=(100,),
                                           learning_rate='constant',
                                           learning_rate_init=0.001,
                                           max_fun=15000, max_iter=200,
                                           momentum=0.9, n_iter_no_chan...
                   iid='deprecated', n_iter=5, n_jobs=-1,
                   param_distributions={'activation': ['logistic'],
                                        'alpha': [0.0001],
                                        'batch_size': [400, 300, 350],
                                        'hidden_layer_sizes': [(10, 20, 10),
                                                               (5, 20, 15, 10),
                                                               (4, 16, 20, 6)],
                                        'learning_rate': ['adaptive'],
                                        'learning_rate_init': [0.001],
                                        'n_iter_no_change': [100]},
                   pre_dispatch='2*n_jobs', random_state=1001, refit=True,
                   return_train_score=False, scoring=None, verbose=3)

In [ ]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)
print('\n Best normalized gini score for %d-fold search with %d parameter combinations:' % (folds, param_comb))
print(random_search.best_score_ * 2 - 1)
print('\n Best hyperparameters:')
print(random_search.best_params_)
results = pd.DataFrame(random_search.cv_results_)
results

 All results:
{'mean_fit_time': array([223.42220577, 199.86959187, 190.83474986, 211.94076641,
       196.30728666]), 'std_fit_time': array([ 1.79231589,  0.87244965,  0.43937409,  2.41412178, 36.8055556 ]), 'mean_score_time': array([0.23116652, 0.20751111, 0.19440675, 0.23730493, 0.17677172]), 'std_score_time': array([0.00928642, 0.00222269, 0.00104933, 0.00689308, 0.05234747]), 'param_n_iter_no_change': masked_array(data=[100, 100, 100, 100, 100],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_learning_rate_init': masked_array(data=[0.001, 0.001, 0.001, 0.001, 0.001],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_learning_rate': masked_array(data=['adaptive', 'adaptive', 'adaptive', 'adaptive',
                   'adaptive'],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_hidden_layer_sizes': masked_array(data=[(5, 20, 15, 10), (4, 16, 20, 6), (10, 20, 10),
                   (5, 20, 15, 10), (4, 16, 20, 6)],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_batch_size': masked_array(data=[350, 400, 350, 400, 300],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_alpha': masked_array(data=[0.0001, 0.0001, 0.0001, 0.0001, 0.0001],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_activation': masked_array(data=['logistic', 'logistic', 'logistic', 'logistic',
                   'logistic'],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_iter_no_change': 100, 'learning_rate_init': 0.001, 'learning_rate': 'adaptive', 'hidden_layer_sizes': (5, 20, 15, 10), 'batch_size': 350, 'alpha': 0.0001, 'activation': 'logistic'}, {'n_iter_no_change': 100, 'learning_rate_init': 0.001, 'learning_rate': 'adaptive', 'hidden_layer_sizes': (4, 16, 20, 6), 'batch_size': 400, 'alpha': 0.0001, 'activation': 'logistic'}, {'n_iter_no_change': 100, 'learning_rate_init': 0.001, 'learning_rate': 'adaptive', 'hidden_layer_sizes': (10, 20, 10), 'batch_size': 350, 'alpha': 0.0001, 'activation': 'logistic'}, {'n_iter_no_change': 100, 'learning_rate_init': 0.001, 'learning_rate': 'adaptive', 'hidden_layer_sizes': (5, 20, 15, 10), 'batch_size': 400, 'alpha': 0.0001, 'activation': 'logistic'}, {'n_iter_no_change': 100, 'learning_rate_init': 0.001, 'learning_rate': 'adaptive', 'hidden_layer_sizes': (4, 16, 20, 6), 'batch_size': 300, 'alpha': 0.0001, 'activation': 'logistic'}], 'split0_test_score': array([0.64612772, 0.65548105, 0.66800012, 0.6629781 , 0.65402769]), 'split1_test_score': array([0.64609385, 0.65232469, 0.66392299, 0.66930482, 0.64615141]), 'split2_test_score': array([0.66081476, 0.65769214, 0.60758638, 0.64071201, 0.65979307]), 'mean_test_score': array([0.65101211, 0.65516596, 0.64650316, 0.65766498, 0.65332406]), 'std_test_score': array([0.00693153, 0.00220255, 0.02756861, 0.01226266, 0.00559137]), 'rank_test_score': array([4, 2, 5, 1, 3], dtype=int32)}

 Best estimator:
MLPClassifier(activation='logistic', alpha=0.0001, batch_size=400, beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(5, 20, 15, 10), learning_rate='adaptive',
              learning_rate_init=0.001, max_fun=15000, max_iter=200,
              momentum=0.9, n_iter_no_change=100, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

 Best normalized gini score for 3-fold search with 5 parameter combinations:
0.3153299567045236

 Best hyperparameters:
{'n_iter_no_change': 100, 'learning_rate_init': 0.001, 'learning_rate': 'adaptive', 'hidden_layer_sizes': (5, 20, 15, 10), 'batch_size': 400, 'alpha': 0.0001, 'activation': 'logistic'}

   mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0     223.422206      1.792316  ...        0.006932                4
1     199.869592      0.872450  ...        0.002203                2
2     190.834750      0.439374  ...        0.027569                5
3     211.940766      2.414122  ...        0.012263                1
4     196.307287     36.805556  ...        0.005591                3

[5 rows x 18 columns]